<div class="flex h-screen">
  <div class="w-1/6 min-w-fit bg-secondary-100 flex flex-col h-screen">
    <div class="overflow-y-scroll flex-1 p-4">
      <h2 class="text-xl font-bold mb-4">Conversations</h2>
      <button
        (click)="openConversationModal()"
        class="p-2 px-4 mb-4 w-full bg-primary-80 text-white rounded hover:bg-primary-100"
      >
        Add Conversation
      </button>

      @for (conversation of conversations; track conversation.conversationId) {
        <div
          (click)="selectConversation(conversation)"
          class="p-2 mb-2 w-full rounded cursor-pointer bg-white hover:bg-gray-100"
          [ngClass]="{ 
            'border-primary-80 border-4': conversation.conversationId === selectedConversation?.conversationId
          }"
        >
          {{ conversation.name }}
        </div>
      }
    </div>
    <div class="flex justify-center items-center mt-1">
      <button
        (click)="logout()"
        class="p-2 px-4 w-full bg-textColor-80 text-textColorOpposite-100 hover:bg-textColor-100"
      >
        Log Out
      </button>
    </div>
  </div>


  <div class="flex-1 flex flex-col bg-secondary-sub relative">
    <div #chatBox class="flex-1 p-4 flex-col overflow-y-auto pb-28">
      @for (message of messages; track message.messageId) {
        <text-bubble [isUser]="message.userId !== 1" [text]="message.messageText"/>
      }
    </div>

    <div class="p-6 bg-transparent flex flex-row gap-2 absolute bottom-0 right-0 w-full">
      <textarea
        rows="2"
        [(ngModel)]="newMessage"
        (keyup.enter)="sendMessage()"
        class="flex-1 rounded-md outline-none p-3 text-base text-textColor-80 resize-none z-10" 
        placeholder="Type a message...">
      </textarea>
      <button
        (click)="handleRecord()"
        class="shadow-button-theme bg-primary-100 text-textColorOpposite-100 p-5 rounded-3xl font-thin object-contain max-w-16"
      >
        <img priority ngSrc="./mic.svg" height="1" width="1" class="w-full"/>
      </button>
      <button
        (click)="sendMessage()"
        class="shadow-button-theme bg-secondary-100 text-textColorOpposite-100 p-5 rounded-3xl font-thin object-contain max-w-16"
      >
        <img priority ngSrc="./sendbutton.svg" height="1" width="1" class="w-full"/>
      </button>
    </div>
  </div>
</div>

<modal
  [isVisible]="isConversationModalVisible"
  (close)="flipIsConversationModalVisible()"
>
  <div class="p-4">
    <h2 class="text-xl font-bold mb-4">Add Conversation</h2>
    <input
      [(ngModel)]="newConversationName"
      class="p-2 px-4 mb-4 w-full bg-white rounded border border-gray-300"
      placeholder="Conversation Name"
    />
    <select
      [(ngModel)]="newConversationLanguage"
      class="p-2 px-4 mb-4 w-full bg-white rounded border border-gray-300"
    >
      @for (language of languages; track language) {
        <option [value]="language">
          {{ language }}
        </option>
      }
    </select>
    <button
      (click)="createConversation()"
      class="p-2 px-4 w-full bg-primary-80 text-white rounded hover:bg-primary-100"
    >
      Create
    </button>
  </div>
</modal>