<div class="relative h-screen flex items-center justify-center text-center  backdrop-blur-lg bg-gradient-to-br from-primary-100 to-secondary-100">

  <!-- <div class="absolute overflow-hidden h-screen w-screen text-textColor-100">
    @for (backgroundRow of backgroundRows; track backgroundRow.id) {
      @if (backgroundRow.id % 2 == 0) {
        <div class="w-full h-fit flex justify-start">
          <div class="min-w-fit min-h-fit whitespace-nowrap flex animate-slideLeft">
            @for (languageText of backgroundRow.languageTexts; track languageText.id) {
              <span class="text-[12.5vh] leading-[12.5vh] text-primary-sub font-thin mx-8">{{ languageText.text }}</span>
            }
          </div>
        </div>
      } @else {
        <div class="w-full h-fit flex justify-end">
          <div class="min-w-fit min-h-fit whitespace-nowrap flex animate-slideRight">
            @for (languageText of backgroundRow.languageTexts; track languageText.id) {
              <span class="text-[12.5vh] leading-[12.5vh] text-primary-sub font-thin mx-8">{{ languageText.text }}</span>
            }
          </div>
        </div>
      }
    }
  </div> -->
  

  <div class="backdrop-blur-[6px] bg-translucentWhite min-h-fit min-w-fit h-[66%] w-[30%] flex flex-col items-center justify-center mb-12 p-4">
    <h1 class="text-8xl font-bold text-textColor-100">Lexenie</h1>

    <!-- Replace with the typing text that goes to different languages -->
    <p class="text-xl text-textColor-80 w-4/5 mb-4">Speech-based Conversational Bot for Language Learning</p>
    <button class="bg-primary-100 text-textColorOpposite-100 py-1 px-3 rounded-3xl bg-gradient-to-tl from-primary-100 to-secondary-100 font-thin">Start Talking</button>
  </div>
</div>